<div id="posts" align="left">
#foreach($post in $blogPosts)
    #set($mes = $post.insertDate.month + 1 )
    #set($ano = $post.insertDate.year + 1900 )
    #set($controll = $post.controll)
    
    #if($controll==false)
    	#set($status=0)
    #else
    	#set($status=1)
    #end
	
    <p class="data">Escrito em:$post.insertDate.date/$mes/$ano </p>
	<p class="titulo">$post.title </p>
	<p>$post.content </p>
	<p><a href="#" onClick="window.open('/blog/post.do?act=loadSite&id=$post.id','','scrollbars=yes,height=600,width=600')">Adicionar Comentário</a> | <a href="javascript:imprSelec(3)" ><img src="/$blogPath/img/btn_imp.jpg" /></a>&nbsp;&nbsp;<a href="javascript:imprSelec(3)" >Imprimir</a></p>
	<center>---------------------------------------------------------------------------------------</center>
	<BR>
#end
</div>
