<script type="text/javascript" src="/bloglog/jsImp/print.js" charset="ISO-8859-1"></script>
<link href="/$blogPath/busca.css" rel="stylesheet" type="text/css" />
<div id="posts" align="left">

#if($busca == true)
	<div class="titulos">
      RESULTADOS DA BUSCA      
    </div>

	<div class="bloco_resul">			
		<dt>Atenção: buscando apenas em bloglog.com.br</dt>	
		<dt>Você buscou por: <span>$keyWord</span></dt>	
		<dt>Resultados Obtidos: $qtdResults
		</dt>
	</div>

	#if ($qtdResults != "0")
		#foreach($post in $blogPosts)
			#set($mes = $post.insertDate.month + 1 )
		    #set($ano = $post.insertDate.year + 1900 )
			<div class="res_busca">
				<div class="tit_res_busca">
					<div class="ico1"></div>
					<a href="/blog/post.do?act=loadSite&id=$post.id&permalink=true">$post.title</a>
				</div>
				<div class="desc_res_busca">
					$post.insertDate.date/$mes/$ano  - 
					$post.content
				</div>
			</div>	
			<br class="space" />
		#end
	
	#else
		<div class="res_busca">
			<div class="tit_res_busca">
				SUA BUSCA NÃO RETORNOU RESULTADOS
			</div>
		</div>	
	#end	
	
#else
	#foreach($post in $blogPosts)
	<div id="$post.id">
	<a name="$post.id"/>
	    #set($mes = $post.insertDate.month + 1 )
	    #set($ano = $post.insertDate.year + 1900 )
	    #set($controll = $post.controll)
	    
	    #if($controll==false)
	    	#set($status=0)
	    #else
	    	#set($status=1)
	    #end
		
	    <p class="data">Escrito em:$post.insertDate.date/$mes/$ano </p>
		<p class="titulo">$post.title </p>
		<p>$post.content </p>
		<p style="margin-bottom:0px;"><a href="#" onClick="window.open('/blog/post.do?act=loadSite&id=$post.id','','scrollbars=yes,height=600,width=600')"><img src="/icon_comment.gif" /></a>&nbsp;&nbsp;<a href="#" onClick="window.open('/blog/post.do?act=loadSite&id=$post.id','','scrollbars=yes,height=600,width=600')" style=" vertical-align:top;" class="imp">Comentários</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:imprSelec($post.id)" ><img src="/icon_printer.gif" /></a>&nbsp;&nbsp;<a href="javascript:imprSelec($post.id)" style=" vertical-align:top;" class="imp" >Imprimir</a></p>
<p style=" margin-top:4px; margin-bottom:0px;"><a style=" text-decoration:none;">Link deste Post: </a> <input type="text" value="http://bloglog.com.br/blog/post.do?act=loadSite&id=$post.id&permalink=true" style="width:350px; border:1px solid #999999; font-size:10px; padding-left:3px;"></p><center>--------------------------------------------------------------------------------------</center>
		
	</div>
	#end
#end
</div>
