</div>
</div>
</div>
<div id="rodape">
	<div class="align">2007 BLOGLOG.COM. TODOS OS DIREITOS RESERVADOS</div>
	<div><a href="http://bloglog.com.br">BLOGLOG</a> | <a href="mailto:falecom@bloglog.com.br">PUBLICIDADE</a> | <a href="http://bloglog.globo.com/politica.html">POLÍTICA DE PRIVACIDADE</a> | <a href="mailto:falecom@bloglog.com.br">FALE CONOSCO</a></div>
</div>

