</div>
<div id="rodape">
	<div class="align">2007 BLOGLOG.COM. TODOS OS DIREITOS RESERVADOS</div>
	<div><a href="#">BLOGLOG</a> | <a href="#">PUBLICICDADE</a> | <a href="#">POLÍTICA DE PRIVACIDADE</a> | <a href="#">FALE CONOSCO</a></div>
</div>