<iframe scrolling="No" frameborder="0" src="superbanner.html" style="width:100%; height:110px; border:0px;"></iframe>
<div id="barra_patrocinador" align="left">
<iframe SRC="http://www.Globo.com/ssi/barra/parceiros.htm" width=100% height=35 MARGINWIDTH="0" MARGINHEIGHT="0" SCROLLING="NO" FRAMEBORDER="0" FRAMESPACING="0" BORDER="0"></iframe>
</div>

<script src="/$blogPath/barra.js"></script>
<div id="barra">
	<div class="center">
			<div class="meio">
				<a href="http://bloglog.globo.com"><div class="logo" title="BlogLog.com.br"></div></a>
				<div class="det1">&nbsp;</div>
				<div class="tit">&nbsp;&nbsp;&nbsp;<script>EscreveBarra('0');</script>&nbsp;&nbsp;&nbsp;</div>
				<div class="det2">&nbsp;</div>
				<div class="tit_nome">&nbsp;&nbsp;&nbsp;<script>EscreveBarra('1');</script></div>			
			</div>
	</div>
	<div class="line2"></div>
</div>