$tiles.importAttribute("links_patrocinador")

<div id="barra_patrocinador" align="left">

&nbsp;&nbsp;
#foreach($item in $links_patrocinador)
	<a href="$item.link" target="_BLANK">$item.value</a>&nbsp;&nbsp;
#end

</div>